In [2]:
import pandas as pd
df=pd.read_csv('/Users/ziaemustafa/Desktop/titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Name,Sex,Age,Siblings - Spouse,Parents - Children,Ticket,Ticket class,Fare,Cabin,Port of embarkation
0,1,0.0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,3,7.2500,NaN,S
1,2,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,1,71.2833,C85,C
2,3,1.0,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,3,7.9250,NaN,S
3,4,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,1,53.1000,C123,S
4,5,0.0,"Allen, Mr. William Henry",male,35.0,0,0,373450,3,8.0500,NaN,S

In [4]:
#1. What is the total number of people on the titanic and how many of them survived(342) and how many did not?(549)
survive=len(df[df['Survived']==1])
notsurvive=len(df[df['Survived']==0])
print(survive)
print(notsurvive)

342
549

In [5]:
#2. How many that survived were female and how many that died were female.>>survived:233, died:81
fsurvived=len(df[(df.Survived ==1)&(df.Sex == 'female')])
print(fsurvived)

fdied=len(df[(df.Survived ==0)&(df.Sex == 'female')])
print(fdied)

233
81

In [6]:
#3. How many children were on the titanic, NB: you are a child if age < 17.>>100
childno=len(df[df['Age']<17])
print(childno)

134

In [7]:
#4. How many children died that were on the ship.>>55
childdie=len(df[(df.Age<17)&(df.Survived==1)])
print(childdie)

55

In [8]:
#5. How many people had families with them.>>354
withfam=len(df[(df.0!= 0)|(df.Parch!=0)])
print(withfam)

AttributeError: 'DataFrame' object has no attribute 'SibSp'

In [9]:
#6. What is the ratio of female to male.>>0.5441941074523396
genderratio=len(df[(df.Sex =='female')])/len(df[(df.Sex == 'male')])
print(genderratio)

0.5527876631079478

In [10]:
#7. What contributed to the survival of those who survived.>>with 
df['Sex']=df.Sex.astype('category')
df.Sex=df.Sex.cat.codes
corr=df.corr(method='pearson')

In [11]:
corr

,PassengerId,Survived,Sex,Age,Siblings - Spouse,Parents - Children,Ticket class,Fare
PassengerId,1.000000,-0.005007,0.013406,0.028814,-0.055224,0.008942,-0.038354,0.031428
Survived,-0.005007,1.000000,-0.543351,-0.077221,-0.035322,0.081629,-0.338481,0.257307
Sex,0.013406,-0.543351,1.000000,0.063645,-0.109609,-0.213125,0.124617,-0.185523
Age,0.028814,-0.077221,0.063645,1.000000,-0.243699,-0.150917,-0.408106,0.178740
Siblings - Spouse,-0.055224,-0.035322,-0.109609,-0.243699,1.000000,0.373587,0.060832,0.160238
Parents - Children,0.008942,0.081629,-0.213125,-0.150917,0.373587,1.000000,0.018322,0.221539
Ticket class,-0.038354,-0.338481,0.124617,-0.408106,0.060832,0.018322,1.000000,-0.558629
Fare,0.031428,0.257307,-0.185523,0.178740,0.160238,0.221539,-0.558629,1.000000